
html {
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-family: 'outfit', sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.card {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 35px;
    border-radius: 20px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.nft {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.nftimg {
    width: 100%;
    border-radius: 20px;
    display: block;
}

.view {
    position: absolute;
    z-index: 2;
}

.viewbck {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #22d4d6;
    z-index: 1;
    border-radius: 20px;
}

.pop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.pop:hover {
    opacity: .6;
}

.title {
    color: #d9dce1;
}

.titlehov {
    cursor: pointer;
}

.titlehov:hover {
    color: #22d4d6;
}

.desc {
    color: #536b85;
    font-weight: 400;
    font-size: 22px;
    flex-basis: 60px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 60px;
}

.price {
    width: 50%;
    color: #22d4d6;
    text-align: left;

}

.time {
    width: 50%;
    color: #829fc1;
    text-align: right;
}

.line {
    width: 100%;
    border: 1px solid #2c3e56;
}

.creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    vertical-align: center;
}

.creator img {
    border: 2px solid white;
    width: 10%;
    border-radius: 65px;
}

.creatorname {
    width: 60%;
    text-align: right;
}

.create {
    color: #8099b8;
}

.name {
    color: #a5b2c5;
    text-align: right;
    cursor: pointer;
}

.name:hover{
    color: #22d4d6;
}

.footer {
    height: 60px;
    text-align: center;
    margin: 50px;
}

a {
    color: #22d4d6;
}